@font-face {
    font-family: Airglyphs;
    src: url("../fonts/airglyphs.eot");
    src: url("../fonts/airglyphs-ie8.eot?#") format("eot"), url("../fonts/airglyphs.woff") format("woff"), url("../fonts/airglyphs.ttf") format("truetype"), url("../fonts/airglyphs.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

.icon {
    font-style: normal;
    font-weight: normal;
    line-height: 1
}

.icon:before {
    font-family: Airglyphs, sans-serif
}

.icon:before {
    line-height: 1
}

.icon.pull-left,
.icon.pull-right {
    line-height: inherit
}

.icon.pull-left:before,
.icon.pull-right:before {
    line-height: inherit
}

.pull-left.icon-size-2,
.pull-left.icon-size-3,
.pull-left.icon-size-4,
.pull-right.icon-size-2,
.pull-right.icon-size-3,
.pull-right.icon-size-4 {
    line-height: 1
}

.icon-size-2 {
    font-size: 2em
}

.icon-size-3 {
    font-size: 3.6em
}

.icon-size-4 {
    font-size: 4.8em
}

.icon-blue {
    color: #007a87
}

.icon-pink {
    color: #ffaa91
}

.icon-green {
    color: #3fb34f
}

.icon-red {
    color: #ec079f
}

.icon-yellow {
    color: #ffb400
}

.icon-true-rausch {
    color: #ec079f
}

.icon-accessible:before {
    content: '\f101'
}

.icon-add-listing:before {
    content: '\f102'
}

.icon-add:before {
    content: '\f103'
}

.icon-air-conditioning:before {
    content: '\f104'
}

.icon-air-mattress:before {
    content: '\f105'
}

.icon-bookingpink-alt:before {
!    content: '\f106'
}

.icon-bookingpink:before {
    content: '\f107'
}

.icon-alert-alt-fill:before {
    content: '\f108'
}

.icon-alert-alt:before {
    content: '\f109'
}

.icon-alert-fill:before {
    content: '\f10a'
}

.icon-alert:before {
    content: '\f10b'
}

.icon-alipay:before {
    content: '\f10c'
}

.icon-apartment:before {
    content: '\f10d'
}

.icon-archive:before {
    content: '\f10e'
}

.icon-arrow-down-alt:before {
    content: '\f10f'
}

.icon-arrow-down:before {
    content: '\f110'
}

.icon-arrow-left-alt:before {
    content: '\f111'
}

.icon-arrow-left:before {
    content: '\f112'
}

.icon-arrow-reply:before {
    content: '\f113'
}

.icon-arrow-right-alt:before {
    content: '\f114'
}

.icon-arrow-right:before {
    content: '\f115'
}

.icon-arrow-up-alt:before {
    content: '\f116'
}

.icon-arrow-up:before {
    content: '\f117'
}

.icon-balloons:before {
    content: '\f118'
}

.icon-ban-circle:before {
    content: '\f119'
}

.icon-bar-chart:before {
    content: '\f11a'
}

.icon-bars:before,
.icon-wine-glasses:before {
    content: '\f11b'
}

.icon-bathtub:before {
    content: '\f11c'
}

.icon-bell:before {
    content: '\f11d'
}

.icon-bellhop:before {
    content: '\f11e'
}

.icon-belo-heart:before {
    content: '\f11f'
}

.icon-birdhouse:before {
    content: '\f120'
}

.icon-boat:before {
    content: '\f121'
}

.icon-bolt:before,
.icon-instant-book:before {
    content: '\f122'
}

.icon-book:before {
    content: '\f123'
}

.icon-bullseye:before {
    content: '\f124'
}

.icon-bunk-bed:before {
    content: '\f125'
}

.icon-bus:before {
    content: '\f126'
}

.icon-cabin:before {
    content: '\f127'
}

.icon-calendar-alt:before,
.icon-tech-talks:before {
    content: '\f128'
}

.icon-calendar:before {
    content: '\f129'
}

.icon-camera:before {
    content: '\f12a'
}

.icon-camper:before {
    content: '\f12b'
}

.icon-car:before {
    content: '\f12c'
}

.icon-caret-down:before {
    content: '\f12d'
}

.icon-caret-left:before {
    content: '\f12e'
}

.icon-caret-right:before {
    content: '\f12f'
}

.icon-caret-up:before {
    content: '\f130'
}

.icon-castle:before {
    content: '\f131'
}

.icon-cat:before {
    content: '\f132'
}

.icon-checkbox:before {
    content: '\f133'
}

.icon-chevron-down:before {
    content: '\f134'
}

.icon-chevron-left:before {
    content: '\f135'
}

.icon-chevron-right:before {
    content: '\f136'
}

.icon-chevron-up:before {
    content: '\f137'
}

.icon-city:before {
    content: '\f138'
}

.icon-cloud:before {
    content: '\f139'
}

.icon-code:before {
    content: '\f13a'
}

.icon-cog:before {
    content: '\f13b'
}

.icon-comment-negative:before {
    content: '\f13c'
}

.icon-comment-positive:before {
    content: '\f13d'
}

.icon-comment:before {
    content: '\f13e'
}

.icon-comments:before {
    content: '\f13f'
}

.icon-couch:before {
    content: '\f140'
}

.icon-crib:before {
    content: '\f141'
}

.icon-cup-alt:before {
    content: '\f142'
}

.icon-cup:before {
    content: '\f143'
}

.icon-currency-brl:before {
    content: '\f144'
}

.icon-currency-chf:before {
    content: '\f145'
}

.icon-currency-czk:before {
    content: '\f146'
}

.icon-currency-eur:before {
    content: '\f147'
}

.icon-currency-gbp:before {
    content: '\f148'
}

.icon-currency-huf:before {
    content: '\f149'
}

.icon-currency-idr:before {
    content: '\f14a'
}

.icon-currency-ils:before {
    content: '\f14b'
}

.icon-currency-inr:before {
    content: '\f14c'
}

.icon-currency-jpy:before,
.icon-currency-cny:before {
    content: '\f14d'
}

.icon-currency-krw:before {
    content: '\f14e'
}

.icon-currency-myr:before {
    content: '\f14f'
}

.icon-currency-nok:before,
.icon-currency-dkk:before,
.icon-currency-sek:before {
    content: '\f150'
}

.icon-currency-php:before {
    content: '\f151'
}

.icon-currency-pln:before {
    content: '\f152'
}

.icon-currency-rub:before {
    content: '\f153'
}

.icon-currency-thb:before {
    content: '\f154'
}

.icon-currency-try:before {
    content: '\f155'
}

.icon-currency-usd:before,
.icon-money:before,
.icon-currency:before,
.icon-currency-aud:before,
.icon-currency-cad:before,
.icon-currency-hkd:before,
.icon-currency-mxn:before,
.icon-currency-nzd:before,
.icon-currency-twd:before,
.icon-currency-sgd:before,
.icon-currency-ars:before {
    content: '\f156'
}

.icon-currency-vnd:before {
    content: '\f157'
}

.icon-currency-zar:before {
    content: '\f158'
}

.icon-dates-price:before {
    content: '\f159'
}

.icon-description-alt:before {
    content: '\f15a'
}

.icon-description:before {
    content: '\f15b'
}

.icon-desktop:before {
    content: '\f15c'
}

.icon-dog:before {
    content: '\f15d'
}

.icon-doorman:before {
    content: '\f15e'
}

.icon-double-bed:before,
.icon-king-bed:before,
.icon-queen-bed:before {
    content: '\f15f'
}

.icon-download:before {
    content: '\f160'
}

.icon-dryer:before {
    content: '\f161'
}

.icon-edit:before {
    content: '\f162'
}

.icon-elevator:before {
    content: '\f163'
}

.icon-emergency-exit:before {
    content: '\f164'
}

.icon-entire-place:before {
    content: '\f165'
}

.icon-envelope-inbound:before {
    content: '\f166'
}

.icon-envelope-outbound:before {
    content: '\f167'
}

.icon-envelope:before {
    content: '\f168'
}

.icon-essentials:before {
    content: '\f169'
}

.icon-events:before {
    content: '\f16a'
}

.icon-external-link:before {
    content: '\f16b'
}

.icon-eye:before {
    content: '\f16c'
}

.icon-facebook-messenger:before {
    content: '\f16d'
}

.icon-facebook:before {
    content: '\f16e'
}

.icon-family:before {
    content: '\f16f'
}

.icon-filter:before {
    content: '\f170'
}

.icon-fire-alarm:before {
    content: '\f171'
}

.icon-fire-alt:before {
    content: '\f172'
}

.icon-fire-extinguisher:before {
    content: '\f173'
}

.icon-fire:before {
    content: '\f174'
}

.icon-fireplace:before {
    content: '\f175'
}

.icon-flag:before {
    content: '\f176'
}

.icon-floor-mattress:before {
    content: '\f177'
}

.icon-flower:before {
    content: '\f178'
}

.icon-friends:before {
    content: '\f179'
}

.icon-full-screen:before {
    content: '\f17a'
}

.icon-gas-valve:before {
    content: '\f17b'
}

.icon-gift:before {
    content: '\f17c'
}

.icon-globe:before,
.icon-globe-alt:before {
    content: '\f17d'
}

.icon-google-plus:before {
    content: '\f17e'
}

.icon-group-alt:before {
    content: '\f17f'
}

.icon-group:before {
    content: '\f180'
}

.icon-guide-book:before {
    content: '\f181'
}

.icon-gym:before {
    content: '\f182'
}

.icon-hair-dryer:before {
    content: '\f183'
}

.icon-hairdryer:before {
    content: '\f184'
}

.icon-hammock:before {
    content: '\f185'
}

.icon-handshake:before {
    content: '\f186'
}

.icon-hangers:before {
    content: '\f187'
}

.icon-haze:before {
    content: '\f188'
}

.icon-heart-alt:before {
    content: '\f189'
}

.icon-heart:before {
    content: '\f18a'
}

.icon-heating:before {
    content: '\f18b'
}

.icon-home-safety:before {
    content: '\f18c'
}

.icon-home:before {
    content: '\f18d'
}

.icon-host-guarantee:before {
    content: '\f18e'
}

.icon-host-home-alt:before {
    content: '\f18f'
}

.icon-host-home:before {
    content: '\f190'
}

.icon-hot-tub:before {
    content: '\f191'
}

.icon-id-card-alt:before {
    content: '\f192'
}

.icon-id-card-back:before,
.icon-credit-card:before {
    content: '\f193'
}

.icon-id-card:before {
    content: '\f194'
}

.icon-instagram:before {
    content: '\f195'
}

.icon-instant-book-alt:before {
    content: '\f196'
}

.icon-instant-book-wide:before {
    content: '\f197'
}

.icon-intercom:before {
    content: '\f198'
}

.icon-internet:before {
    content: '\f199'
}

.icon-iron:before {
    content: '\f19a'
}

.icon-key:before {
    content: '\f19b'
}

.icon-laptop:before {
    content: '\f19c'
}

.icon-liability:before {
    content: '\f19d'
}

.icon-lifesaver:before {
    content: '\f19e'
}

.icon-light-bulb-alt:before {
    content: '\f19f'
}

.icon-light-bulb:before {
    content: '\f1a0'
}

.icon-lighthouse:before {
    content: '\f1a1'
}

.icon-linkedin:before {
    content: '\f1a2'
}

.icon-list-ul:before {
    content: '\f1a3'
}

.icon-listings:before {
    content: '\f1a4'
}

.icon-location:before {
    content: '\f1a5'
}

.icon-lock:before {
    content: '\f1a6'
}

.icon-map-marker-alt:before {
    content: '\f1a7'
}

.icon-map-marker:before {
    content: '\f1a8'
}

.icon-match:before {
    content: '\f1a9'
}

.icon-meal:before {
    content: '\f1aa'
}

.icon-meetups:before {
    content: '\f1ab'
}

.icon-minus:before {
    content: '\f1ac'
}

.icon-money-deposit:before {
    content: '\f1ad'
}

.icon-money-none:before {
    content: '\f1ae'
}

.icon-moon:before {
    content: '\f1af'
}

.icon-ok-alt:before {
    content: '\f1b0'
}

.icon-ok-fill:before {
    content: '\f1b1'
}

.icon-ok:before {
    content: '\f1b2'
}

.icon-overview:before {
    content: '\f1b3'
}

.icon-paper-plane:before {
    content: '\f1b4'
}

.icon-parking:before {
    content: '\f1b5'
}

.icon-partly-cloudy:before {
    content: '\f1b6'
}

.icon-passport:before {
    content: '\f1b7'
}

.icon-paw:before {
    content: '\f1b8'
}

.icon-phone-alt:before {
    content: '\f1b9'
}

.icon-phone-android:before {
    content: '\f1ba'
}

.icon-phone-inbound:before {
    content: '\f1bb'
}

.icon-phone-outbound:before {
    content: '\f1bc'
}

.icon-phone:before {
    content: '\f1bd'
}

.icon-photo-upload:before {
    content: '\f1be'
}

.icon-picture:before {
    content: '\f1bf'
}

.icon-pinterest:before {
    content: '\f1c0'
}

.icon-plane:before {
    content: '\f1c1'
}

.icon-pool:before {
    content: '\f1c2'
}

.icon-private-room:before {
    content: '\f1c3'
}

.icon-question-alt:before {
    content: '\f1c4'
}

.icon-question:before {
    content: '\f1c5'
}

.icon-rain:before {
    content: '\f1c6'
}

.icon-real-bed:before {
    content: '\f1c7'
}

.icon-recently-viewed:before {
    content: '\f1c8'
}

.icon-record:before {
    content: '\f1c9'
}

.icon-refresh:before {
    content: '\f1ca'
}

.icon-remove:before {
    content: '\f1cb'
}

.icon-reorder:before {
    content: '\f1cc'
}

.icon-repeat:before {
    content: '\f1cd'
}

.icon-rooms:before {
    content: '\f1ce'
}

.icon-sad-face:before {
    content: '\f1cf'
}

.icon-search:before {
    content: '\f1d0'
}

.icon-secure-user:before {
    content: '\f1d1'
}

.icon-sesame:before {
    content: '\f1d2'
}

.icon-shampoo:before {
    content: '\f1d3'
}

.icon-share:before,
.icon-share-alt:before {
    content: '\f1d4'
}

.icon-shared-room:before {
    content: '\f1d5'
}

.icon-shopping-bag:before {
    content: '\f1d6'
}

.icon-shopping-basket:before,
.icon-apple:before {
    content: '\f1d7'
}

.icon-single-bed:before {
    content: '\f1d8'
}

.icon-smoking:before {
    content: '\f1d9'
}

.icon-snow:before {
    content: '\f1da'
}

.icon-sofa-bed:before {
    content: '\f1db'
}

.icon-speaks-zh:before {
    content: '\f1dc'
}

.icon-spray-bottle:before {
    content: '\f1dd'
}

.icon-star-alt:before {
    content: '\f1de'
}

.icon-star-circled:before {
    content: '\f1df'
}

.icon-star-half:before {
    content: '\f1e0'
}

.icon-star:before {
    content: '\f1e1'
}

.icon-stats:before {
    content: '\f1e2'
}

.icon-stopwatch-alt:before {
    content: '\f1e3'
}

.icon-stopwatch:before {
    content: '\f1e4'
}

.icon-suitcase-alt:before {
    content: '\f1e5'
}

.icon-suitcase:before {
    content: '\f1e6'
}

.icon-sun:before {
    content: '\f1e7'
}

.icon-tablet:before {
    content: '\f1e8'
}

.icon-tag-alt:before {
    content: '\f1e9'
}

.icon-tag:before {
    content: '\f1ea'
}

.icon-tent:before {
    content: '\f1eb'
}

.icon-thumbs-down-alt:before {
    content: '\f1ec'
}

.icon-thumbs-down:before {
    content: '\f1ed'
}

.icon-thumbs-up-alt:before {
    content: '\f1ee'
}

.icon-thumbs-up:before {
    content: '\f1ef'
}

.icon-time-dark:before {
    content: '\f1f0'
}

.icon-time:before,
.icon-time-alt:before {
    content: '\f1f1'
}

.icon-toddler-bed:before {
    content: '\f1f2'
}

.icon-train:before {
    content: '\f1f3'
}

.icon-trash:before {
    content: '\f1f4'
}

.icon-trust-noshield:before {
    content: '\f1f5'
}

.icon-trust-shield:before {
    content: '\f1f6'
}

.icon-tv:before {
    content: '\f1f7'
}

.icon-twitter:before {
    content: '\f1f8'
}

.icon-unlock:before {
    content: '\f1f9'
}

.icon-upload:before {
    content: '\f1fa'
}

.icon-user-circle:before {
    content: '\f1fb'
}

.icon-user:before {
    content: '\f1fc'
}

.icon-verified-id:before {
    content: '\f1fd'
}

.icon-video-none:before {
    content: '\f1fe'
}

.icon-video-pause-alt:before {
    content: '\f1ff'
}

.icon-video-pause:before {
    content: '\f200'
}

.icon-video-play-alt:before {
    content: '\f201'
}

.icon-video-play:before {
    content: '\f202'
}

.icon-video:before {
    content: '\f203'
}

.icon-viewfinder:before {
    content: '\f204'
}

.icon-vk:before {
    content: '\f205'
}

.icon-volume:before {
    content: '\f206'
}

.icon-washer:before {
    content: '\f207'
}

.icon-water-bed:before {
    content: '\f208'
}

.icon-webcam:before {
    content: '\f209'
}

.icon-wechat:before {
    content: '\f20a'
}

.icon-weibo:before {
    content: '\f20b'
}

.icon-whatsapp:before {
    content: '\f20c'
}

.icon-wifi:before {
    content: '\f20d'
}

.icon-wind:before {
    content: '\f20e'
}

.icon-youtube:before {
    content: '\f20f'
}